{% block page_content %}
	<h3>Alertes</h3>
	{% if statusAlerts is defined and statusAlerts is not empty and alertsCounts is defined and alertsCounts is not empty %}
		<div class="grid grid-cols-4 gap-4">
			{% for i in 0..statusAlerts|length - 1 %}
				<div class="p-4 bg-white rounded-lg shadow">
					<h3 class="font-bold">{{ statusAlerts[i] }}</h3>
					<p class="text-2xl">{{ alertsCounts[i] }}</p>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="p-4 bg-white rounded-lg shadow">
			<h3 class="font-bold">Aucune alerte disponible</h3>
		</div>
	{% endif %}
{% endblock %}
