{% block page_content %}

	{% if vulnerabilities is defined %}
		{% for item in vulnerabilities %}
			<p>
				{{item.fileName}}
				{{item.vendor}}
			</p>

		{% endfor %}
	{% endif %}

{% endblock %}
